.cuadrado {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    opacity: 0.5;
}
.rojo { background-color: red; }
.azul { background-color: blue; }
.amarillo { background-color: yellow; }
.verde { background-color: green; }
