body{
    text-align: center;
    align-items: center;
}
.cuadrado {
  height: 200px;
  width: 200px;
  display: flex;
}
.azul {
  background-color: rgb(0, 0, 152);
  text-align: right;
}

.rojo {
  background-color: red;
  text-align: left;
}

.amarillo {
  background-color: yellow;
}

.verde {
  background-color: rgb(3, 174, 3);
}
#circulo{
  background-color: rgb(111, 109, 109);
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  justify-content: center;
}

table {
  margin: auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

td {
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 24px;
    width: 60px;
    height: 60px;
}
td:hover {
    background-color: #e0e0e0;
}
#boton{
  font-size: 20px;
  width: 100px;
  height: 70px;
  background-color: aqua;
  border-style: dashed;
}
progress{
  background-color: rgb(123, 76, 19);
}
